<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
       <!-- envio el argumento $event  -->
        <app-pais-input

       (onDebounce)="sugerencias($event)"
       (onEnter)="buscar( $event )"
       placeholder="Buscar por Pais">
        

       </app-pais-input>

      

    </div>


</div>

<hr>

<div *ngIf="hayError"
     class="alert alert-danger">
    No se encontro nada con el termmino que intento buscar {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row">

    <div class="col">
        <!-- se  envia la variable paises para que el componente pueda operar con ella -->
        <app-pais-tabla  [paises]="paises"></app-pais-tabla>
    </div>


</div>

